# GitLab CI/CD - Monorepo Formulários Unificados
# Deploy independente: formularios-unificados-admin e corporativo-proxy

stages:
  - build
  - upload
  - deploy

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: $CI_COMMIT_TAG

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  REGISTRY: registry.cnj.jus.br/dcor
  IMAGE_ADMIN: formularios-unificados-admin
  IMAGE_PROXY: formularios-corporativo-proxy

# ---------------------------------------------------------------------------
# Environments
# ---------------------------------------------------------------------------

.env-staging-cnj:
  environment:
    name: staging-cnj
    deployment_tier: staging
    url: https://wwwh.cnj.jus.br/formularios-unificados-admin
    kubernetes:
      namespace: dcor-formularios-unificados-cnj

.env-production-cnj:
  environment:
    name: production-cnj
    deployment_tier: production
    url: https://www.cnj.jus.br/formularios-unificados-admin
    kubernetes:
      namespace: dcor-formularios-unificados-cnj

# ---------------------------------------------------------------------------
# Prepare (build stage) - Kustomize por app e ambiente
# ---------------------------------------------------------------------------

.prepare-admin-template:
  stage: build
  image:
    name: registry.cnj.jus.br/segsa/k8s-utils:latest
    entrypoint: [""]
  variables:
    KUBERNETES_APP_PATH: "kubernetes/formularios-unificados-admin"
    IMAGE_NAME: "${REGISTRY}/${IMAGE_ADMIN}:${CI_COMMIT_REF_NAME}"
  dependencies: []
  artifacts:
    paths: ["kubernetes/formularios-unificados-admin/"]
  environment:
    action: prepare
  interruptible: true
  script:
    - cd "$CI_PROJECT_DIR/${KUBERNETES_APP_PATH}/overlays/$CI_ENVIRONMENT_NAME"
    - kustomize edit set namespace "$KUBE_NAMESPACE"
    - kustomize edit set image "${REGISTRY}/${IMAGE_ADMIN}:${CI_COMMIT_REF_NAME}"
    - |
      kustomize edit add annotation --force \
        "app.gitlab.com/app:${CI_PROJECT_PATH_SLUG}" \
        "app.gitlab.com/env:${CI_ENVIRONMENT_SLUG}" \
        "app.gitlab.com/commit-short-sha:${CI_COMMIT_SHORT_SHA}"
    - kubectl apply --dry-run=client -k .

.prepare-proxy-template:
  stage: build
  image:
    name: registry.cnj.jus.br/segsa/k8s-utils:latest
    entrypoint: [""]
  variables:
    KUBERNETES_APP_PATH: "kubernetes/corporativo-proxy"
    IMAGE_NAME: "${REGISTRY}/${IMAGE_PROXY}:${CI_COMMIT_REF_NAME}"
  dependencies: []
  artifacts:
    paths: ["kubernetes/corporativo-proxy/"]
  environment:
    action: prepare
  interruptible: true
  script:
    - cd "$CI_PROJECT_DIR/${KUBERNETES_APP_PATH}/overlays/$CI_ENVIRONMENT_NAME"
    - kustomize edit set namespace "$KUBE_NAMESPACE"
    - kustomize edit set image "${REGISTRY}/${IMAGE_PROXY}:${CI_COMMIT_REF_NAME}"
    - |
      kustomize edit add annotation --force \
        "app.gitlab.com/app:${CI_PROJECT_PATH_SLUG}" \
        "app.gitlab.com/env:${CI_ENVIRONMENT_SLUG}" \
        "app.gitlab.com/commit-short-sha:${CI_COMMIT_SHORT_SHA}"
    - kubectl apply --dry-run=client -k .

prepare-stg-cnj-admin:
  extends:
    - .prepare-admin-template
    - .env-staging-cnj

prepare-stg-cnj-proxy:
  extends:
    - .prepare-proxy-template
    - .env-staging-cnj

prepare-prd-cnj-admin:
  extends:
    - .prepare-admin-template
    - .env-production-cnj

prepare-prd-cnj-proxy:
  extends:
    - .prepare-proxy-template
    - .env-production-cnj

# ---------------------------------------------------------------------------
# Upload - Build e push das imagens Docker (uma por aplicação)
# ---------------------------------------------------------------------------

docker-image-admin:
  stage: upload
  image: docker:20.10
  services:
    - docker:20.10-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u "$NEXUS_USERNAME" -p "$NEXUS_PASSWORD" registry.cnj.jus.br
  script:
    - docker build --pull
      -t "${REGISTRY}/${IMAGE_ADMIN}:${CI_COMMIT_REF_NAME}"
      -t "${REGISTRY}/${IMAGE_ADMIN}:latest"
      -f questionario-admin/Dockerfile
      questionario-admin
    - docker push "${REGISTRY}/${IMAGE_ADMIN}:${CI_COMMIT_REF_NAME}"
    - docker push "${REGISTRY}/${IMAGE_ADMIN}:latest"

docker-image-proxy:
  stage: upload
  image: docker:20.10
  services:
    - docker:20.10-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u "$NEXUS_USERNAME" -p "$NEXUS_PASSWORD" registry.cnj.jus.br
  script:
    - docker build --pull
      -t "${REGISTRY}/${IMAGE_PROXY}:${CI_COMMIT_REF_NAME}"
      -t "${REGISTRY}/${IMAGE_PROXY}:latest"
      -f corporativo-proxy/Dockerfile
      corporativo-proxy
    - docker push "${REGISTRY}/${IMAGE_PROXY}:${CI_COMMIT_REF_NAME}"
    - docker push "${REGISTRY}/${IMAGE_PROXY}:latest"

# ---------------------------------------------------------------------------
# Deploy - Aplicar no cluster (manual, por app e ambiente)
# ---------------------------------------------------------------------------

.deploy-admin-template:
  stage: deploy
  image:
    name: registry.cnj.jus.br/segsa/k8s-utils:latest
    entrypoint: [""]
  variables:
    KUBERNETES_APP_PATH: "kubernetes/formularios-unificados-admin"
    GIT_STRATEGY: none
  retry:
    max: 2
    when: stuck_or_timeout_failure
  script:
    - cd "$CI_PROJECT_DIR/${KUBERNETES_APP_PATH}/overlays/$CI_ENVIRONMENT_NAME"
    - kubectl apply -k . || (kubectl delete --ignore-not-found --wait -k . && kubectl apply -k .)

.deploy-proxy-template:
  stage: deploy
  image:
    name: registry.cnj.jus.br/segsa/k8s-utils:latest
    entrypoint: [""]
  variables:
    KUBERNETES_APP_PATH: "kubernetes/corporativo-proxy"
    GIT_STRATEGY: none
  retry:
    max: 2
    when: stuck_or_timeout_failure
  script:
    - cd "$CI_PROJECT_DIR/${KUBERNETES_APP_PATH}/overlays/$CI_ENVIRONMENT_NAME"
    - kubectl apply -k . || (kubectl delete --ignore-not-found --wait -k . && kubectl apply -k .)

deploy-stg-cnj-admin:
  extends:
    - .deploy-admin-template
    - .env-staging-cnj
  dependencies:
    - prepare-stg-cnj-admin
  when: manual

deploy-stg-cnj-proxy:
  extends:
    - .deploy-proxy-template
    - .env-staging-cnj
  dependencies:
    - prepare-stg-cnj-proxy
  when: manual

deploy-prd-cnj-admin:
  extends:
    - .deploy-admin-template
    - .env-production-cnj
  dependencies:
    - prepare-prd-cnj-admin
  when: manual

deploy-prd-cnj-proxy:
  extends:
    - .deploy-proxy-template
    - .env-production-cnj
  dependencies:
    - prepare-prd-cnj-proxy
  when: manual
